---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Mouad Nossair"
  description="About Mouad Nossair Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/photo_about.jpg"
          alt="Mouad Nossair at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Experiences</h2>
        <div class="content">
          <div>
          <p style="text-align: center">
            <b>February 2023 - July 2023</b>
          </p>
          <p style="text-align: center">Founder & CEO, Delta Cognition</p>
          <p>
            – Started my company Delta Cognition which commercializes AI
            solutions tailored for professionals.<br />
             – Designed Machine Learning/Deep Learning algorithms for my first
            prototypes.<br />
             – Managed all aspects of the business, including operations,
            marketing, sales, and accounting.<br />
             – Supported by a public national structure for Student
            Entrepreneurs (SNEE).<br />
          </p>
        </div>
        <div>
          <p style="text-align: center">
            <b>September 2022 - January 2023</b>
          </p>
          <p style="text-align: center">
            ML Engineer Intern, Intelcia IT Solutions
          </p>
          <p>
            – Created a Machine Learning-based Speaker Recognition application
            using Python, Flask, and MySQL. <br />
             – Designed a Resume Parsing tool for the HR department utilizing Python.<br />
             – Revamped an existing dashboard application into a customizable
            dashboard constructor using Python and ReactJS.<br />
          </p>
        </div>
        <div>
          <p style="text-align: center">
            <b>February 2022 - April 2022</b>
          </p>
          <p style="text-align: center">
            IT System and Security Intern, Charlie Solutions
          </p>
          <p>
            – Established a CI/CD structure and automated its processes using
            Jenkins.<br />
             – Conducted penetration testing on the company's web application
            and implemented various security measures.<br />
             – Produced documentation for the company's IT architecture and
            infrastructure.<br />
          </p>
        </div>
        <div>
          <p style="text-align: center">
            <b>April 2021- July 2021</b>
          </p>
          <p style="text-align: center">
            Web application Developer Intern, Multi-p
          </p>
          <p>
            – Developed a full-stack web application utilizing front-end
            programming languages and PHP.<br />
             – Transferred Excel databases to MySQL and reorganized their
            structure.<br />
             – Created a mailing platform in the application to market the
            company's services.<br />
          </p>
        </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p style="text-align: center">
            <b>September 2019 - Expected on July 2024</b>
          </p>
          <p style="text-align: center">
            CESI Engineering School, Bordeaux, France
          </p>
          <p>
            Methodology based on solving problems and teamworking the same way
            an engineer works in his company.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            <b>Proficiency in Diverse Languages:</b> Fluent in an array of
            languages, including English (TOEIC score: 955), French, and Arabic. Basic notions of German.
          </p>
          <p>
            <b>Tools and Languages:</b> Python, JavaScript, HTML/CSS, C/C++, C#,
            SQL, Linux.
          </p>
          <p>
            <b>Frameworks / Packages:</b> Scikit-learn, TensorFlow, NumPy,
            SciPy, Pandas, ReactJS, NodeJS, Django, Flask.
          </p>
          <p>
            <b>Database Management:</b> Proficient in designing and managing
            both SQL and NoSQL databases, ensuring robust and scalable data
            solutions.
          </p>
          <p>
            <b>Machine Learning and artificial Intelligence:</b> Neural
            Networks, Clustering and classification, Linear and Logistic
            regression, Graph Theory
          </p>
          <p>
            <b>Soft Skills:</b> Problem-solving, adaptability and resilience,
            team collaboration, project and Time management (Agile and DevOPS),
            Organization, Communication, Creativity, Initiative
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  div{
    padding-bottom: 5%;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
